@import url('https://fonts.googleapis.com/css2?family=Questrial:wght@100;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');


body {
    background: #151517;
    color: white;
    font-family: 'Questrial';
}

.container {
    width: 1030px;
    margin: auto;
}

.h2 {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    margin-bottom: 50px;
}

.h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 143%;
    text-align: center;
    margin-bottom: 35px;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
}

.header-logo {
    border-right: #ffffff 1px solid;
    padding: 0px 20px 0px 0px;
}

.header-logo2 {
    padding: 0px 20px;
}

.header-wa {
    background: #25D366;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.header-wa span {
    margin-right: 8px;
}

.wa-both {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.phone.bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
}

.order {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    text-decoration-line: underline;
    color: #E32966;
}

.color-green {
    color: #8BD073;
    margin-left: 6px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66%;
}

.header-bottom {
    background: #000;
    margin-bottom: 54px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0px;
}

.complex svg {
    margin-right: 15px;
}

.complex-item {
    display: flex;
    align-items: center;
}

.complect div:not(:last-child) {
    margin-bottom: 10px;
}

.color-red {
    color: #E32966;
}

.title {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 136%;
    text-transform: uppercase;
}

.subtitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;
}

.successful {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
}

.header-button {
    display: flex;
    justify-content: center;
    color: white;
    gap: 10px;
    background: #70358F;
    border-radius: 20px;
    border-width: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 30px;
}

.getPresent {
    font-weight: 700;
    font-size: 16px;
    line-height: 162%;
}

.getPlus {
    font-weight: 600;
    font-size: 16px;
    line-height: 162%;
}

.first-block {
    margin-bottom: 80px;
}

.video-block {
    margin-bottom: 80px;
}

.advantages-block {
    margin-bottom: 170px;
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.advantages-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.h1 {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 75px;
    text-align: center;
    margin-bottom: 10px;
}

.h6 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.advantages-item {
    width: 220px;
    height: 220px;
    border: 2px solid #70358F;
    box-shadow: 0px 0px 24px 1px #E32966;
    border-radius: 50%;
}

.advantages-top {
    margin-bottom: 55px;
}

.whatIs-content {
    display: flex;
    gap: 10px;
}

.whatIs-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.whatIs-item {
    display: flex;
    gap: 8px;
}

.gilroy-700 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: #FFFFFF;
}
.gilroy-500 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    color: #FFFFFF;
}

.whatIs-right {
    width: max-content;
}