@import url('./fonts/fonts.css');


body {
    background: #151517;
    color: white;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
}

.container {
    width: 1030px;
    margin: auto;
}

.df-jcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2 {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    margin-bottom: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.fw-500 {
    font-weight: 500!important;
}

.fw-600 {
    font-weight: 600!important;
}

.fw-700 {
    font-weight: 700!important;
}

.fz-18 {
    font-size: 18px;
}

.h6.last-ot {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 220%;
    text-align: center;
}

.pos-a {
    position: absolute;
    left: 40%;
    top: -50%;
}

.pos-r {
    position: relative;
}

.h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 143%;
    text-align: center;
    margin-bottom: 35px;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
}

.header-logo {
    border-right: #ffffff 1px solid;
    padding: 0px 20px 0px 0px;
}

.header-logo2 {
    padding: 0px 20px;
}

.header-wa {
    background: #25D366;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.header-wa span {
    margin-right: 8px;
}

.wa-both {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.phone.bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
}

.order {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    text-decoration-line: underline;
    color: #E32966;
}

.color-green {
    color: #8BD073;
    margin-left: 6px;
    font-weight: 500;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66%;
}

.header-bottom {
    background: #000;
    margin-bottom: 54px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0px;
    font-size: 16px;
    line-height: 150%;
}

.complex svg {
    margin-right: 15px;
}

.complex-item {
    display: flex;
    align-items: center;
}

.complect div:not(:last-child) {
    margin-bottom: 10px;
}

.color-red {
    color: #E32966;
}

.title {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 136%;
    text-transform: uppercase;
}

.subtitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;
}

.successful {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
}

.header-button {
    display: flex;
    justify-content: center;
    color: white;
    gap: 10px;
    background: #70358F;
    border-radius: 20px;
    border-width: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 30px;
}

.getPresent {
    font-weight: 700;
    font-size: 16px;
    line-height: 162%;
}

.getPlus {
    font-weight: 600;
    font-size: 16px;
    line-height: 162%;
}

.first-block {
    margin-bottom: 80px;
}

.video-block {
    margin-bottom: 80px;
}

.advantages-block {
    margin-bottom: 170px;
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.advantages-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.h1 {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 75px;
    text-align: center;
    margin-bottom: 10px;
}

.h6 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.advantages-item {
    width: 220px;
    height: 220px;
    border: 2px solid #70358F;
    box-shadow: 0px 0px 24px 1px #E32966;
    border-radius: 50%;
}

.advantages-top {
    margin-bottom: 55px;
}

.whatIs-block {
    margin-bottom: 170px;
}

.whatIs-content {
    display: flex;
}

.whatIs-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.whatIs-item {
    display: flex;
    gap: 8px;
}

.gilroy-700 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: #FFFFFF;
}
.gilroy-500 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    color: #FFFFFF;
}

.whatIs-right {
    width: max-content;
}

.numbers-subtitle {
    background: #70358F;
    border: 2px solid #70358F;
    box-shadow: 0px 0px 24px 1px #70358F;
    border-radius: 20px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 15px;
}

.numbers-title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 143%;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66px;
}

.numbers-second {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 140px;
    margin-bottom: 50px;
}

.numbers-adv {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.numbers-third {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.ntb-title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 143%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.ntb-subtitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    background: #E32966;
    border: 2px solid #E32966;
    box-shadow: 0px 0px 24px 1px #E32966;
    border-radius: 20px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.num-third-block {
    width: 330px;
}

.newCity-block {
    background: url('./images/svg/map.svg') no-repeat;
    height: 913px;
    margin-bottom: 18px;
}

.newCity {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    gap: 144px;
}
.right-title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 143%;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.city-list span {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 44px;
    text-transform: uppercase;
}

.city-list {
    width: 330px;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
    background-image: linear-gradient(to bottom, #E32966 48.96%, rgba(217, 217, 217, 0) 100%);
}

.button {
    width: max-content;
    background: #E32966;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-width: 0;
    padding: 10px 30px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 162%;
    color: #FFFFFF;
}

.newCity-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.newCity-left .h3 {
    text-align: left;
    font-weight: 500;
}

.game-lib-block {
    margin-bottom: 170px;
}

.withUs-block {
    margin-bottom: 170px;
}

.grid {
    display: grid;
    margin-bottom: 40px;
    gap: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item5 item6"
    "item7 img12 img12"
    "item8 img12 img12"
    "item9 img12 img12"
    "item10 img12 img12"
    "item11 img12 img12";
}

.grid .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 20px;
}

.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    grid-area: item6;
}
.item7 {
    grid-area: item7;
}
.item8 {
    grid-area: item8;
}
.item9 {
    grid-area: item9;
}
.item10 {
    grid-area: item10;
}
.item11 {
    grid-area: item11;
}

.img12 {
    grid-area: img12
}

.grid .item .img {
    min-width: 60px;
}

.grid .item .text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #000000;
}

.comments-block {
    margin-bottom: 140px;
}

.bg-img {
    width: 550px;
    height: 460px;
    background: url('./images/zoom-img.webp') no-repeat;
}

.zoom-block .pos-aa {
    position: absolute;
    bottom: 5%;
    left: 15%;
}

.gendir {

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
}

.zoom-block {
    display: flex;
    margin-bottom: 170px;
}

.zoom-block .h3 {
    font-weight: 500;
    text-align: left;
    margin-bottom: 40px;
}

.zoom-block .h2 {
    text-align: left;
    margin-bottom: 40px;
}

.zoom-right {
    margin-left: -81px;
    align-self: center;
}

.photos-block {
    margin-bottom: 170px;
}

.team-block {
    margin-bottom: 170px;
}

.team-img {
    width: 243px;
    height: 313px;
    background: #FFFFFF;
    box-shadow: 0px 0px 80px rgba(180, 154, 248, 0.5);
    border-radius: 20px;
    margin-bottom: 20px;
}

.team-post {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    margin-bottom: 6px;
    text-align: center;
}

.team-name {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 143%;
    margin-bottom: 6px;
    text-align: center;
}

.team-mail {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    color: #E32966;
    text-align: center;
}

.flex {
    display: flex;
    gap: 20px;
}

.arenas-city-yes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 32px;
    gap: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #E32966;
    border-radius: 10px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
}

.arenas-city-no {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 32px;
    gap: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #70358F;
    border-radius: 10px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
}

.arenas-flex {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.arenas-block {
    margin-bottom: 170px;
}

.arenas-block .h2, .arenas-block .h3 {
    margin-bottom: 20px;
}

.arenas-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.joinUs-block .phone {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 130%;
    color: #E32966;
    margin-bottom: 13px;
}

.joinUs-block .email {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    margin-bottom: 13px;
}

.joinUs-block .address {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    margin-bottom: 40px;
}

.joinUs-block .h3 {
    margin-bottom: 30px;
}

.joinUs-left {
    margin: 34px 0;
}

.joinUs-block {
    display: flex;
    gap: 20px;
    align-items: center;
}

.joinUs-img {
    width: max-content;
}

.footer {
    background: #000;
    padding: 20px 0;
}

.footer-left {
    display: flex;
    gap: 35px;
}

.footer-logo2 {
    align-self: center;
}

.footer-logo-item {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 183%;
    color: #7D7D7D;
}

.footer-block {
    display: flex;
    justify-content: space-between;
}

.footer-mid {
    align-self: end;
}

.footer-right {
    align-self: end;
}