@font-face {
    font-family: "Dela Gothic One";
    src: url("DelaGothicOne-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("gilroy-regular.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("gilroy-semibold.ttf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("gilroy-bold.ttf");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("gilroy-bold.ttf");
    font-weight: 700;
    font-display: swap;
}